{{/* List of all authors. */}}

{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  <ul>
    {{ $pages := .Data.Pages }}
    {{ $paginator := .Paginate $pages }}
    {{ range $v := sort $paginator.Pages "Title" }}
    {{ if not .Params.superuser }}
    {{ $name := (index site.Data.coauthors $v.Title ).name | default ($v.Title|plainify) }}
    <li><a href="{{$v.Permalink}}">{{$name}}</a>
      {{ with (index site.Data.coauthors $v.Title ).page}}
      <a href="{{. | absURL}}"><i class="fas fa-external-link-alt"></i></a>
      {{ end }}
    </li>
    {{ end }}
    {{ end }}
  </ul>

  {{ partial "pagination" . }}
</div>

{{- end -}}