{{/* Display author list. */}}

{{ $taxonomy := "authors" }}
{{ with .Params.authors }}
{{ range $index, $value := . }}
{{- if gt $index 0 -}}, {{- end -}}
{{ if and (index site.Data.coauthors $value) ((index site.Data.coauthors $value).name) }}
{{ $author := index site.Data.coauthors $value }}
{{ $name := $author.name }}
{{- if $link := $author.page -}}
<span itemprop="author name" itemtype="http://schema.org/Person"><a href="{{$link | absURL }}">{{$name}}</a></span>
{{- else -}}
<span itemprop="author name" itemtype="http://schema.org/Person">{{$name}}</span>
{{- end -}}
{{- else -}}
<span itemprop="author name" itemtype="http://schema.org/Person"> {{$value}}</span>
{{- end -}}
{{/*
{{ with .Param $taxonomy }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- with $profile_page -}}
        <a href="{{.RelPermalink}}">{{$name}}</a>
      {{- else -}}
        {{$name}}
      {{- end -}}
    </span>
  {{- end -}}
*/}}
{{ end }}
{{ end }}
